
/********************************************************************************/
/* SPECIFIC ACTIVITIES: DROPPABLE
/********************************************************************************/
.jpit-activities-droppable .droppable {
  border: 1px solid $tooltip-color-200;
  text-align: left;
  padding: 0;
  border-radius: 15px;
}

.jpit-activities-droppable .draggable {
  background-color: #ffffff;
  border: 1px solid $tooltip-color-200;
  text-align: center;
  cursor: move;
  padding: 5px;
  -ms-touch-action: none;
  touch-action: none;
  user-select: none;
  border-radius: 15px;
}

.jpit-activities-droppable .draggable.disabled {
  cursor: default;
}

.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
  background-color: #e2793d;
  color: #ffffff;
}

.jpit-activities-droppable .draggable.wrong,
.jpit-activities-droppable .droppable.wrong {
  border-color: $wrong-answer-300;
  color: $wrong-answer-200;
}

.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped.draggable.wrong {
  background-color: rgba($wrong-answer-100, 0.1);
  color: $wrong-answer-200;
}

.jpit-activities-droppable:after {
  content: "";
  display: inline-block;
}

.jpitdroppable_select_dialog {
}
.jpitdroppable_select_dialog.ui-dialog .ui-dialog-content {
  padding: 0;
}

.jpitdroppable_select_dialog .ui-dialog-titlebar {
  display: none;
}

.jpitdroppable_select_list {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}

.jpitdroppable_select_list_item {
  position: relative;
  flex: 1;
  border: solid 1px #cccccc;
  margin: 1px 0;
  padding: 10px;
  user-select: none;
}
.jpitdroppable_select_list_item.selected {
  background-color: #dedede;
  border-color: #bcbcbc;
}

.jpitdroppable_select_list_item.dropped:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid #22c1c9;
  border-bottom: 20px solid transparent;
  clear: both;
}
/********************************************************************************/
/* SPECIFIC ACTIVITIES: DROPPABLE - SEGUN IMAGEN
/********************************************************************************/
.jpit-activities-droppable.row {
  align-items: center;
}

.jpit-activities-droppable .col-2 {
  display: flex;
  justify-content: center;
}

.jpit-activities-droppable .col-2 .board.ctrl-pagination {
  min-height: 300px;
  width: 250px;
  margin: 20px auto;
  position: relative;
  overflow: unset;
  text-align: center;
  background-color: #d7ddf2;
  height: auto;
}

.jpit-activities-droppable .col-2 .board.ctrl-pagination li.layer {
  padding: 0;
}

.jpit-activities-droppable .col-2 .board.ctrl-pagination .image {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
}

.jpit-activities-droppable .col-2 .board.ctrl-pagination .target {
  min-height: 50px;
  background-color: #fff;
  width: 100%;
  border: none;
  border-radius: 20px;
  margin: 10px 0;
  position: relative;
}

.jpit-activities-droppable .col-2.sources {
  float: left;
  height: 300px;
  background-color: #f7f8fc;
  padding: 20px;
  color: #2b2d63;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#arrastrar6.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
  background-color: $tooltip-color-200;
  color: #ffffff;
  top: 0 !important;
  bottom: 0;
  right: 0;
  left: 0 !important;
  width: auto !important;
  padding: 0;
  border: none;
  position: absolute !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#arrastrar6.jpit-activities-droppable .draggable {
  width: 100px;
}

.jpit-activities-droppable .col-2 .board.ctrl-pagination.sides .button.next {
  right: 20px;
}

.jpit-activities-droppable
  .col-2
  .board.ctrl-pagination.sides
  .button.previous {
  left: 20px;
}

.jpit-activities-droppable .col-2 .board.ctrl-pagination.sides .position {
  color: #fff;
  background-color: $tooltip-color-200;
  border: none;
}
/********************************************************************************/
/* SPECIFIC ACTIVITIES: MULTIDROPPABLE
/********************************************************************************/
.jpit-activities-multidroppable .droppable {
  border: 1px solid $tooltip-color-200;
  text-align: left;
  padding: 5px;
  background-color: #ffffff;
  z-index: 1;
}

.jpit-activities-multidroppable .draggable {
  background-color: #ffffff;
  border: 1px solid $tooltip-color-200;
  text-align: center;
  cursor: move;
  padding: 5px;
  position: relative;
  z-index: 2;
  border-radius: 15px;
}

.jpit-activities-multidroppable .draggable.disabled {
  cursor: default;
}

.jpit-activities-multidroppable .draggable.wrong,
.jpit-activities-multidroppable .droppable.wrong {
  background-color: #ffffff;
  border-color: #d60c1b;
  color: #d60c1b;
}
