
/********************************************************************************/
/* Float window
/********************************************************************************/
.wf-content {
    position: absolute;
    padding: 35px 40px;
    background: $wf-bg-color;
    border-radius: 10px;
    box-shadow: 2.2px 3px 0 0 #081a7224;
    p {
      color: $color-font-200;
    }
    &.autox {
      left: 10px;
      right: 10px;
    }
    &.autoy {
      top: 10px;
      bottom: 10px;
    }
    .close {
      position: absolute;
      padding: 5px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #a9a9a9;
      color: #a9a9a9;
      line-height: 10px;
      font-size: 12px;
      text-align: center;
      font-weight: bold;
      top: 10px;
      right: 10px;
      &.active, &:hover {
        background-color: $color-primary;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }