@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
  @include respond(l) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 36em) {
      @content;
    } //576px
  }

  @if $breakpoint == s {
    @media (max-width: 48em) {
      @content;
    } //768px
  }

  @if $breakpoint == m {
    @media (max-width: 64em) {
      @content;
    } //1024px
  }

  @if $breakpoint == l {
    @media (max-width: 75em) {
      @content;
    } //1200px; Normal styles apply
  }

  @if $breakpoint == xl {
    @media (min-width: 112.5em) {
      @content;
    } //1800px
  }
}
