//Default font-size
$default-font-size: 1.6rem;

//Color Variables
$color-primary: #4f69cc;
$color-primary-dark: #100037;
$color-header-right: #40238A;
$color-font: #2b2c67;
$color-font-200: #694FAB;
$color-font-300: #2B2D63;
$color-font-link: #4867D2;
$color-emphasis: #ff7c00;
$color-secondary: #21e3d4;
$color-white: #fff;
$color-black: #000;
$color-header-background: #7a879c;
$color-header-text: #d8e0f0;
$color-header-submenu-background: #e0e6f7;
$color-header-submenu-background-hover: #ccd3e9;
$color-header-submenu-stroke: #8f97a3;
$color-header-submenu-font: #565F6E;
$background-white: #ebecef;

$correct-answer-100: #00D780;
$wrong-answer-100: #D1006A;
$wrong-answer-200: #B84351;
$wrong-answer-300: #9B4954;

$tooltip-color: #9991F2;
$tooltip-color-200: #6d54a8;
$body-color: #EBECEF;
$bullet-color: #4867D2;
$matiz-bg-color: #F6F7FB;

// Matices
$important-color: #F96C63;
$important-color-title: #B5332C;
$important-color-body: #A84842;

$ejemplo-color: #007DAF;
$ejemplo-color-title: #00587B;
$ejemplo-color-body: #005F84;

$anotaciones-color: #7F64A6;
$anotaciones-color-title: #53416E;
$anotaciones-color-body: #554371;

$enlace-color: #00BAE9;
$enlace-color-title: #00A5D0;
$enlace-color-body: #02a9d3;

$transicion-color: #CC9F56;
$transicion-color-title: #CC9F56;
$transicion-color-body: #7F6235;

//Modal
$modal-header-color: #7A879C;
$wf-bg-color: #E9EDFA;

// Grid System
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Size 
$footer-size: 85px;
$paragraph-margin-bottom: 1.3rem;

//Shadow
$box-shadow-12: 2px 3px 0px rgba(#081A72, 0.12);
